.box1{
    width: 700px;
    height: 50px;
    background: #f5c6d6;
    border: 2px solid white;
    
}
.box2 {
    width: 700px;
    height: 50px;
    background: #ee2e84;
    border: 2px solid white;
}
.box3{
    width: 700px;
    height: 50px;
    background: #85cfd8;
    border: 2px solid white;
}
.box4{
    width: 700px;
    height: 50px;
    background: #8dc63f;
    border: 2px solid white;
}
.box5{
    width: 700px;
    height: 50px;
    background: #e76e34;
    border: 2px solid white;
}